<div class="deviseStyling col-md-11 projects">
	<h2 class="titles">Recent work</h2>
	<% @projects.each do |project| %>
	<a href="https://player.vimeo.com/video/<%= project.url %>?badge=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" class="video-popup">
		<div class="col-md-6">
			<div class="project">
				<div class="info-wrapper">
					<h5><%= project.brand %> /</h5>
					<h5><%= project.title %></h5>
					<hr class="dots"/>
					<h5 class="colour"><%= project.type_of_work %></h5>
					<h5><%= project.agency %></h5>
					<h5>Music: <%= project.music %></h5>
				</div>
				<%= image_tag(project.image, lazy: true, class: "lazy") %>
			</div>
		</div>
	</a>
	<% end %>
</div>