<div class="col-md-12 logoContainer"><%= link_to(image_tag('logo2.2.png'), root_path, class: "logo") %></div>
<div class="col-md-12 navFix">
	<ul id="menu" class="navigation">
		<li><%= link_to 'Work', projects_path %></li>
		<li><%= link_to 'About', abouts_path %></li>
		<% if user_signed_in? %><li><%= link_to 'CMS', admins_path %></li><% end %>
	</ul>
</div>
<% if user_signed_in? %>
	<div class="userInfo">
		<div>{ Logged in as <strong><%= current_user.email %></strong> }</div>
		<%= link_to 'Edit', edit_user_registration_path %> | 
		<%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
	</div>
<% end %>