<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  		<title>One Tree Music | Passionate about music and image</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
  		
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  		<%= csrf_meta_tags %>

		<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:700,600|Fredoka+One|Slabo+27px|Cousine' rel='stylesheet' type='text/css'>
	</head>

	<body>
		
		<% if controller_name == "admins" %>
			<%= yield %>
		<% else %>
		
			<div class="col-md-3 fixed">
				<%= render 'layouts/header' %>
			</div>
			<div class="col-md-9">
				<%= yield %>
			</div>
		
		<% end %>

	</body>
</html>